
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Role Selection */
.role-options {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #3a76b6;
    border-radius: 5px;
    display: inline-block;
}

.role-options a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    position: relative;
}

.role-options a.selected {
    text-decoration: underline;
    border-bottom: 2px solid #fff;
}


table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}


.btn {
    padding: 8px 12px;
    margin: 5px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.cancel {
    background-color: #8c8c8c;
}

.new-account {
    background-color: #3a76b6;
}

.btn:hover {
    opacity: 0.9;
}


table th, table td {
    border-bottom: 1px solid #ddd;
}


.table-container {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.table-container a {
    text-decoration: none;
    font-size: 16px;
}

.table-container .btn.cancel {
    background-color: #8c8c8c;
}

.table-container .btn.new-account {
    background-color: #3a76b6;
}
